@font-face {
	font-family: doomr;
	src: url("doomr.ttf");
}
@font-face {
	font-family: dooml;
	src: url("dooml.ttf");
}

tr, td {
	width: 98px;
	height: 99px;
}

table {
	table-layout: fixed;
	border-spacing: 0px;
	background-position: center;
}

.clear {
	background-image: url("main.png");
}

.cross {
	background-image: url("cross.png");
}

.cross_hover {
	background-image: url("cross-hv.png");
}

.round {
	background-image: url("round.png");
}

.btn {
	position: relative;
	top: 20px;
	width: 100px;
	height: 40px;
	font-family: "Arial";
}

.head {
	position: relative;
	top: 20pt;
	font-family: dooml;
	font-size: 70pt;
	color:#FFFFFF;
}

.uhead {
	font-family: doomr;
	font-size: 40pt;
	color:#FFFFFF;
}

.hidden {
	position: relative;
	top: 20pt;
	opacity: 0.02;
}

body {
	background-image: url("back.jpg");
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover;
	background-attachment: fixed;
}